.appointment-form{
  background-color: #F2F2F2;
  box-shadow: inset 9px 0px 16px 0px rgba(220,220,220,1);
}

.appointment-form__inner {
  padding: 20px;
}

.appointment-form .form-group {
  display: block;
  margin-bottom: 10px;
}

.appointment-form .form-group label {
  display: block;
  color: rgba(76, 76, 76, 100);
  font-size: 14px;
  padding-bottom: 7px;
  font-weight: 400;
}

.appointment-form .form-group .form-control {
  font-size: 12px;
  border: 1px solid rgba(220, 220,220, 100);
  line-height: 25px;
  padding: 3px 10px;
  box-sizing: border-box;
  outline: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  resize: none;
}

.appointment-form .form-group input,
.appointment-form .form-group textarea,
.appointment-form .form-group button {
  width: 100%;
  display: block;
  color: rgba(76, 76, 76, 100);
}

.appointment-form .form-group input[type="time"] {
  background: white url('./calendar.svg') no-repeat 8px center;
  background-size: 18px;
  padding-left: 34px;
}

.appointment-form .btn {
  display: block;
  text-align: center;
  width: 100%;
  padding: 12px;
  appearance: none;
  border-radius: 4px;
  outline: 0;
  border: 1px;
  margin-bottom: 5px;
  font-size: 13px;
  font-weight: 300;
  cursor: pointer;
}

.appointment-form .btn-primary {
  background: rgba(85,190,	100, 100);
  color: white;
}

.appointment-form .btn-primary:hover {
  background: #44a953;
  color: white;
}

.appointment-form .btn-secondary {
  color: rgba(70,	70,	70, 100);
  background: rgba(209,	209,	209, 100);
}

.appointment-form .btn-secondary:hover {
  background: #bfbfbf;
}
